/*calendario */
.p-datepicker {
	width: 100% !important;
}

.ui-inputfield {
	width: 100% !important;
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only
	{
	border-color: #007bff !important;
}
/*
.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only{
	color: #336699 !important;
background-color: #369 !important;
border-color: #007bff !important;

} */

/*Asterisk color*/
.ui-outputlabel .ui-outputlabel-rfi {
	color: red;
}

/* space between label and textbox*/
.form-label {
	margin-top: 10px;
	margin-bottom: -10px;
}
/*quita negrita de  los labels*/
/*label:not(.form-check-label):not(.custom-file-label) {
    font-weight: 100 !important;
}
*/
/*****/
.p-field {
	margin-bottom: 0rem;
}

.buttonCV {
  border: solid 1px #00f;
  color: white;
  padding: 5px 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 0px;
  cursor: pointer;
  width: 100%;
}
#contenedor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#contenedor > div {
  width: 50%;
}

.ui-g-12{
padding: .5em !important;
}

.errorCell {
	background-color: #950000 !important;
	background-image: none !important;
	color: #ffffff !important;
}
.disponibleCell {
	background-color: #0f0 !important;
	background-image: none !important;
	color: #ffffff !important;
}

